<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="https://samouraiwallet.com/static/favicon.ico" />

    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE" th:text="${dashboardModel.pageTitle}"></title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/samourai.css" />
    <link rel="stylesheet" href="/css/bootstrap-dashboard.css" />
    <link rel="stylesheet" href="/css/dashboard.css" />
</head>

<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a th:replace="decorators/dashboard-fragments :: logo" />
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul th:replace="decorators/dashboard-fragments :: menu" />
                    <br/>
                    <div class="text-center text-muted">
                        <small><span th:text="${#dates.format(dashboardModel.now, 'dd-MMM-yyyy HH:mm:ss')}"/></small>
                    </div>
                </div>
            </nav>

            <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">

                <div layout:fragment="main"></div>

            </main>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{/webjars/jquery/3.1.1-1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.bundle.min.js}"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace();
        $('[data-toggle="popover"]').popover();
    </script>
</body>
</html>
