<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorators/dashboard}"
      th:with="currentPage = 'system'">
<head>
    <title>System</title>
    <link rel="stylesheet" href="/css/system.css" />
</head>
<body>
    <div layout:fragment="main">
        <h1 class="h2">System</h1>

        <div>Startup: <strong><span th:text="${#dates.format(systemModel.startupTime, 'dd-MMM-yyyy HH:mm:ss')}"/></strong></div>
        <div>Mem use: <strong><span th:text="${systemModel.memUsed}"/>M</strong>/<span th:text="${systemModel.memTotal}"/>M, <strong th:text="${systemModel.threads.size()}"/> threads running.</div>
        <table class="table table-sm system">
            <tr th:each="entry : *{systemModel.metrics}">
                <div><span th:text="${entry.key}"/>: <strong th:text="${entry.value}"></strong></div>
            </tr>
        </table>
        <div class="table-responsive">
            <table class="table table-sm system">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Thread</th>
                    <th scope="col">Status</th>
                    <th scope="col">Stacktrace</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="thread,iter : ${systemModel.threads}">
                    <td class="threadIndex"><span th:text="${iter.index+1}"/></td>
                    <td class="threadName"><span th:text="${thread.getName()}"/></td>
                    <td class="threadState"><span th:text="${thread.getState()}"/></td>
                    <td class="threadStacktrace">
                        <div th:each="line : ${thread.getStackTrace()}">
                            <div th:text="${line.toString()}"/>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>